all {
    font-family: Arial, Helvetica, sans-serif;
  }

h1 {
    color: rgb(250, 140, 197);
    text-align: center
}

button {
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border: 2px solid rgb(250, 140, 197);
}
  
button:hover {
    background-color: rgb(250, 140, 197);
    color: white;
}

#abstractive-sum {
    background-color: rgb(255, 181, 219);
}