body {
    background-color: powderblue;
}
h1 {
color: blue;
}
#abstractive-sum-1 {
color: rgb(168, 82, 42);
}
#abstractive-sum-2 {
color: rgb(115, 40, 185)
}
#abstractive-sum-3 {
color: rgb(32, 144, 178);
}